html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

p {
    font-size: 32px;
}

.container {
    max-width: 1190px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.todo__heading {
    text-align: center;
    font-size: 100px;
    font-weight: 100;
    color: lightpink;
    margin-top: 30px;
    margin-bottom: 30px;
}

.todo__section {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
    margin: 0 auto;
    max-width: 550px;
    width: 100%;
}

.todo__form {
    justify-content: space-between;
    display: flex;
    align-content: center;
    padding: 16px 16px 16px 20px;
    box-shadow: inset 0 -2px 1px rgb(0 0 0 / 3%);
}

.todo__input {
    width: 92%;
    border: none;
    font-size: 32px;
}

.todo__arrow {
    border: none;
    background-color: transparent;
    padding: 0;
    visibility: hidden;
    cursor: pointer;
}

.todo__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.todo__item {
    position: relative;
    padding: 16px 50px 16px 10px;
    align-items: center;
    border-bottom: 1px solid rgb(233, 232, 202);
}

.todo__label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.todo__checkbox:checked + .todo__check {
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.todo__checkbox:checked ~ .todo__task {
    opacity: 0.5;
    text-decoration: line-through;
    transition: opacity 0.3s, text-decoration 0.3s;
}

.todo__check {
    display: block;
    max-width: 30px;
    width: 100%;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
}

.todo__task {
    margin-left: 20px;
    word-break: break-all;
    transition: opacity 0.3s, text-decoration 0.3s;
}

.todo__button {
    visibility: hidden;
    position: absolute;
    top: 30%;
    right: 2%;
    border: none;
    background-color: transparent;
    padding: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.todo__button img {
    width: 30px;
    height: 30px;
}

.todo__filter {
    display: none;
    color: lightgray;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
}

.todo__left {
    font-size: 16px;
}

.todo__menu__button {
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 14px;
    color: lightgray;
    padding: 2;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
}

.todo__clear {
    visibility: hidden;
    color: lightgray;
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 14px;
    cursor: pointer;
}

.todo__clear:hover {
    text-decoration: underline;
}

.todo__clear:active {
    text-decoration: underline;
    color: blue;
}